.work-section {
    .card-prj {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.5rem;
        padding-bottom: 2rem;
        border: 1px solid var(--cucumber);
        transition: box-shadow 0.3s;
        background-color: var(--zahan);
        padding: 1rem;

        &:hover {
            box-shadow: 0 0 11px var(--cucumber);
        }

        img {
            width: 100%;
            border-radius: 0.3rem;
            margin: 0 auto 1rem 0;
            max-width: 100%;
        }

        ul.categories {
            list-style: none;
            display: flex;
            gap: 1rem;
            padding-left: 0;

            li {
                padding: 0.2rem 0.4rem;
                color: var(--zahan);
                text-shadow: var(--forest-green) 1px 0 10px;
                font-weight: 600;
                font-size: 0.75em;
                border-radius: 3em 3.2em 3em 3.2em;
                background-image: linear-gradient(
                    -100deg,
                    var(--cucumber),
                    var(--forest-green)
                );
                padding: 0.2rem 0.5rem;
                text-transform: uppercase;
            }
        }

        p.project-description {
            font-size: 1em;
            color: rgba(rgb(49, 39, 39), 0.8);
        }

        .button-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 0.6rem;
            flex-wrap: wrap;
            margin: unset;
        }
    }
}
