.contact-section {
    background-image: url(../assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 66%;
    background-position-y: 24%;
    min-height: 32rem;
    display: flex;
    align-items: end;

    .two-cols {
        display: block;
    }

    p.speech-text {
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 15px;
        color: #000;
        background-color: #ece5ceab;
        padding: 1rem;
        border-radius: 11px;
        position: relative;
        box-shadow: 10px 10px var(--intel-blue-pale);
    }
    img {
        margin-top: 1rem;
        border-radius: 50%;
    }

    form {
        max-width: 20rem;
    }

    input {
        font-size: 16px;
        line-height: 18px;
        padding: 8px;
        width: 100%;
        border: unset;
        margin-block: 0.4rem 1rem;
        border-radius: 4px;
        outline-color: rgb(84 105 212 / 0.5);
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }

    label {
        font-weight: bold;
        font-size: 15px;
    }
    textarea {
        resize: none;
        width: 100%;
        margin-block: 0.4rem 1rem;
    }
    h2 {
        text-align: left;
    }

    button {
        font-family: inherit;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        background-color: #ffffff;
        padding: 0.5rem 1.5rem;
        display: flex;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        min-width: unset;
    }

    button:hover {
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }

    button:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    button span {
        display: block;
        margin-left: 0.4em;
        transition: all 0.3s;
    }

    button svg {
        width: 18px;
        height: 18px;
        fill: #000;
        transition: all 0.3s;
    }

    button .svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        border: solid 1px #000000;
        margin-right: 0.5em;
        transition: all 0.3s;
    }

    button:hover .svg-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
    }

    button:hover svg {
        transform: rotate(45deg);
    }

    @media (min-width: 768px) {
        p.speech-text {
            transform: rgb(40, 31, 32) latey(0px);
            animation: float 5s ease-in-out infinite;

            text-align: center;
            font-weight: bold;
            font-size: 15px;
            color: #000;
            background-color: #ece5ceab;
            padding: 50px;
            border-radius: 11px;
            position: relative;
            box-shadow: 20px 20px var(--intel-blue-pale);
        }
        p.speech-text:after {
            transform: translatey(0px);
            animation: float2 5s ease-in-out infinite;
            content: ".";
            font-weight: bold;
            -webkit-text-fill-color: #ece5ceab;
            text-shadow: 22px 22px var(--intel-blue-pale);
            text-align: left;
            font-size: 55px;
            width: 55px;
            height: 11px;
            line-height: 30px;
            border-radius: 11px;
            background-color: #ece5ceab;
            position: absolute;
            display: block;
            bottom: -30px;
            left: 0;
            box-shadow: 22px 22px var(--intel-blue-pale);
            z-index: -2;
        }
        img {
            margin-top: 4rem;
        }
        @keyframes float {
            0% {
                transform: translatey(0px);
            }
            50% {
                transform: translatey(-20px);
            }
            100% {
                transform: translatey(0px);
            }
        }

        @keyframes float2 {
            0% {
                line-height: 30px;
                transform: translatey(0px);
            }
            55% {
                transform: translatey(-20px);
            }
            60% {
                line-height: 10px;
            }
            100% {
                line-height: 30px;
                transform: translatey(0px);
            }
        }
        .two-cols {
            display: grid;
            gap: 4rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
