.resume-section {
    .title-description {
        p {
            max-width: 50rem;
            text-align: center;
            margin: 0rem auto 1rem auto;
        }
    }

    .timeline {
        margin: 4em auto;
        position: relative;
        list-style: none;
        padding-left: 0;
    }

    @media (min-width: 768px) {
        .timeline {
            padding-left: unset;
        }
    }

    .timeline-event {
        position: relative;
        &:before {
            background: var(--cucumber);
            content: "";
            margin-left: -1px;
            position: absolute;
            top: 10px;
            left: 2em;
            width: 2px;
            height: 100%;
        }

        &:first-of-type {
            &:before {
                background: -webkit-gradient(
                    linear,
                    0 0,
                    0 100%,
                    from(transparent),
                    color-stop(50%, var(--cucumber))
                );
            }
        }

        &:last-of-type {
            &:before {
                background: -webkit-gradient(
                    linear,
                    0 0,
                    0 100%,
                    to(transparent),
                    color-stop(50%, var(--cucumber))
                );
            }
        }

        &:hover {
            .timeline-event-icon {
                transform: rotate(-45deg);
                background-color: var(--cacoa-bean);
            }

            .timeline-event-thumbnail {
                box-shadow: inset 40em 0 0 0 var(--cacoa-bean);
            }
        }
    }

    .timeline-event-content {
        padding: 0 2rem;
        position: relative;
        top: -0.3em;
        left: 2em;
        width: 80%;
        strong {
            font-weight: 700;
        }
    }

    .timeline-event-icon {
        transition: transform 0.2s ease-in;
        transform: rotate(45deg);
        background-color: var(--cucumber);
        display: block;
        margin: 0.5em 0.5em 0.5em -0.5em;
        position: absolute;
        top: 0;
        left: 2em;
        width: 1em;
        height: 1em;
    }

    .timeline-event-thumbnail {
        transition: box-shadow 0.5s ease-in 0.1s;
        color: var(--prim);
        font-size: 0.8em;

        background-color: var(--forest-green);
        box-shadow: inset 0 0 0 0em var(--cucumber);
        display: inline-block;
        margin-bottom: 1.2em;
        padding: 0.25em 1em 0.2em 1em;
    }

    .download-resume {
        text-align: center;
        max-width: 30em;
        margin: 0 auto;
    }
}
