.work-section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;

    .cards-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    h2 {
        text-align: center;
    }

    p {
        &.description {
            text-align: center;
            font-style: italic;
        }
    }

    @media (min-width: 1024px) {
        .cards-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 1280px) {
        .cards-wrapper {
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }
    }
}
